/* Background-image */
.bg {
    background: url('../../img/bg.png') center/cover no-repeat, var(--grey);
}



/* Section */
.section {
    padding: 140px 0px;
    @media (max-width: 992px) {
        padding: 70px 0px;
    }
}



/* Cards */
.cards {
    display: grid;
    gap: 30px;
}



/* Button */
.button {
    display: block;
    width: 23%;
    border: 1px solid transparent;
    padding: 19px 18px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--white);
    background-color: var(--accent);
    transition: all .3s ease-out;
    @media (max-width: 992px) {
        padding: 19px 10px;
        width: 40%;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}
.button:hover {
    border: 1px solid var(--white);
    background-color: rgb(0, 95, 163, 0.8);
}



/* Controls */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 768px) {
        justify-content: center;
    }
}
.controls__dots {
    display: block;
    font-size: 0;
    @media (max-width: 768px) {
        display: none;
    }
}
.dot {
    display: inline-block;
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    opacity: 0.4;
    border-radius: 50%;
    &:not(:last-child) {
        margin-right: 40px;
    }
    cursor: pointer;
    transition: all .3s ease-out;
}
.dot:hover {
    opacity: 1;
}
.dot--active {
    opacity: 1;
}
.dot--blue {
    background-color: var(--accent);
}
.controls__arrows {
    display: flex;
}
.controls__arrow {
    display: block;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255, 0.2);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 17px;
    transition: all .3s ease-out;
    margin: 0;
    @media (max-width: 768px) {
        margin: 0px 30px;
    }
}
.controls__arrow:hover {
    background-color: rgb(255, 255, 255, 0.4);
}
.controls__arrow--prev {
    background-image: url('../../img/arrow-prev.svg');
}
.controls__arrow--next {
    background-image: url('../../img/arrow-next.svg');
}
.controls__arrow--blue {
    background-color: rgb(0, 95, 163, 0.2);
}
.controls__arrow--blue:hover {
    background-color: var(--accent);
}



/* Burger */
.burger {
    display: none;
    @media (max-width: 992px) {
        display: block;
        padding: 17px 10px;
    }
}
.burger__item {
    position: relative;
    display: block;
    background-color: var(--accent);
    width: 30px;
    height: 3px;
    border-radius: 2px;
    transition: all .3s ease-out;
    &:nth-child(1) {
        transform: translateY(-5px);
    }
    &:nth-child(3) {
        transform: translateY(5px);
    }
}
.burger--active {
    .burger__item:nth-child(1) {
        transform: rotate(-45deg) translateY(4px);
    }
    .burger__item:nth-child(2) {
        transform: scale(0);
    }
    .burger__item:nth-child(3) {
        transform: rotate(45deg) translateY(-4px);
    }
}





@keyframes fade {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}