.service {
    width: 100%;
    background: #ebebeb;
    padding: 140px 0px;
    @media (max-width: 992px) {
        padding: 70px 0px;
    }
}
.service__subtitle {
    margin: 0px 0px 100px 0px;
    @media (max-width: 992px) {
        margin: 0px 0px 50px 0px;
    }
}
.service__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.service__card {
    position: relative;
    padding: 45px;
    min-height: 360px;
    background: url('../../img/about-card.png') center/cover no-repeat,#2F3135;
    display: flex;
    align-items: end;
    cursor: pointer;
    &::before {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.65;
        z-index: 1;
        transition: all .3s ease-out;
    }
}
.service__card:hover.service__card::before {
    background-color: #005FA3;
}
.service__text {
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
    margin: 0;
    span {
        display: block;
    }
}