.title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;

    /* line-height: 33px; */
    line-height: 138%;
    color: #bdbdbd;
}
.subtitle {
    span  {
        display: block;
    }
}